canvas{
	border: 2px solid #2E3642;
	margin: 0;
    box-shadow: 0 0 100px rgba(0,0,0,0.5);
}
.menu{
	font-family: Comic Sans MS;
	margin: 0;
	background: #2E3642;
	display: block;
	color:white;
	padding: 20px;
    box-shadow: 0 0 100px rgba(0,0,0,0.5);
}
h2{
	margin: 0;
	margin-bottom: 0;
}