
.li{
  max-width: 400px;
  list-style-type: none;
  display: inline-block;
  width: 100%;
  margin: 0;
}
#why{
  margin: 0;
}
.alert{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.btn {
  display: inline-block;
  position: relative;
}
