.App {
  color: white;
  margin-top: 7%;
  font-family: "open sans";
}
.content{
	margin:5.3% 6.7% 0% 6.7%;/*
	border: 1px solid white;
	border-radius: 2%;*/
}
.head{
	width: 50%;
	font-size: 18px;
	margin: 6.7%;
}
#goGreen{
	color: #009933;
}
.about{
	margin:35% 6.7% 0% 6.7%;
	font-size: 18px;
}
.img{
	animation: float 5s infinite;
	float: left;
	animation-direction: alternate-reverse;
}
@keyframes float{
	0%{
		transform: translate(0%, 0%);
	}
	100%{
		transform: translate(-7%, 7%);
	}
}
@media only screen and (max-width: 1200px) {
    .about {
        background-color: #002d4a;
        padding-bottom: 10%;
        margin-left: 0;
        margin-right: 0;
    }
}