.App {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-image: url(./icons/cd.svg);
        font-style: italic;
}
.card {
  width: 15rem;
  display: inline-block !important;
}
.content{
  margin-top: 1000px;
  margin-bottom: 500px;
}
@media screen and (max-width: 600px){
/*  .App {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .head{
    grid-column: 1 / 13;
  }
  .content {
    grid-column: 1 / 13; 
  }
  
  .foot {
    grid-column: 2 / 12; 
  }*/
/*  .boat{
    display: none;
  }
  #waveCont{
    display: none;
  }*/
}